@import '@/scss/mixins.scss';

body {
	margin: 0;
	font-family: 'Inter-Medium';
	color: #181C43;
	overflow-x: hidden;
}

.wrapper {
	width: 300px;
	margin: 0 auto;
	padding: 0 10px;
}

.caption {
	text-align: center;
	font-size: 24px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	overflow: auto;
	opacity: 0;
	visibility: hidden;
	transition: .3s;

	&_show {
		opacity: 1;
		visibility: visible;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		min-height: 200px;
	}

	&__box {
		position: relative;
		width: 250px;
		padding: 25px;
		text-align: center;
		background-color: #fff;
	}

	&__title {
		margin-top: 15px;
	}

	&__text {
		margin-bottom: 10px;
		font-family: 'Inter-LightBETA';
	}

	&__label {
		&_error {
			.modal__input {
				color: rgb(139,0,0);
				border-bottom: 1px solid rgb(139,0,0);
			}

			.modal__error {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__input {
		width: 100%;
		margin: 5px 0;
		padding: 10px 0;
		border: 0;
		border-bottom: 1px solid black;
		outline: 0;

		&::placeholder {
			color: rgba(0,0,0,0.3);
		}
	}

	&__error {
		margin-bottom: 15px;
		text-align: left;
		font-size: 14px;
		color: rgb(139,0,0);
		opacity: 0;
		visibility: hidden;
	}

	&__btns {
		display: flex;
		justify-content: center;
		margin-top: 25px;
	}

	&__button {
		@include button;
		width: 100%;
		margin: 0 5px;
		padding: 10px 5px;
		border-radius: 25px;

		&_green {
			background-color: rgb(50,205,50);
		}

		&_red {
			background-color: rgb(139,0,0);
		}

		&_gray {
			background-color: rgb(169,169,169);
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 30px;
		line-height: 0.66;
		overflow: hidden;
		cursor: pointer;
		transition: .3s;

		&:hover {
			color: rgb(139,0,0);
			transform: scale(1.2);
		}
	}
}
