@import '@/assets/styles/helpers/normalize';
@import '@/assets/styles/helpers/fonts.scss';

body {
	margin: 0;
	font-family: 'Inter-Medium';
	color: #181C43;
	overflow-x: hidden;
}

.wrapper {
	width: 300px;
	margin: 0 auto;
	padding: 0 10px;
}

.caption {
	text-align: center;
	font-size: 24px;
}

.fade-enter-active, .fade-leave-active {
	transition: .3s;
}

.fade-enter, .fade-leave-to {
	opacity: 0;
}
